.search-pannel {
  height: 48px;
  width: 274px;
  border: 1px solid, #E0E3EE;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.search-pannel .search-pannel-input {
  border-radius: 10px;
  padding-left: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: none;
  outline: none;
}
.search-pannel .search-pannel-btn {
  cursor: pointer;
  margin: 4px;
  height: 20px;
  width: 20px;
  background-color: #2D3B87;
  border-radius: 10px;
  padding: 10px;
  color: #2d3b87;
}